* {
    margin: 0;
}

.body {
    padding: 20px;
}

img {
    margin: 20px;
}

h3 {
    margin: 20px;
}

button {
    margin: 20px;
}

.main {
    background-color:lightcoral;
    background-image: url('./components/back.gif');
    background-repeat: no-repeat;
    background-size: 120%;
    height: 1500px;
    z-index: -2;
}