.form-container {
    padding: 20px;
}

.form {
    background-color:darkseagreen;
    margin: 50px;
    padding: 10px;
    text-align: right;
    width: 50%;
    border-radius: 10px;
}

.form-container input {
    margin: 10px;
    padding: 10px;
    border: none;
    width: 80%;
}

.big {
    height: 200px;
}

.submit {
    background-color: darkcyan;
    border: none;
    padding: 10px 50px;
    color: white;
    border-radius: 10px;
}

textarea {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: none;
}