.header {
    background-color: cadetblue;
    height: 300px;
    padding: 10px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 20px;
}

.title {
    display: inline-block;
    padding: 10px;
    color: white;
}

.weath {
    display: inline-flex;
    margin: 0 0 0 1000px;
    z-index: 1;
}

.pikachu {
    height: 40%;
    margin: 0;
}

.train {
    height: 120px;
    width: 1100px;
    position: absolute;
    margin: 0;
    border-radius: 0;
}